
body, html {
	width: 100%;
	height: 100%;
}

@font-face {
    font-family: Yanone;
    src: url('../fonts/YanoneKaffeesatz-Light.ttf');
}

@font-face {
    font-family: OpenSans-Regular;
    src: url('../fonts/OpenSans-Regular.ttf');
}
	
body {
	font-family: 'OpenSans-Regular', times, sans-serif;
	margin:0;
	padding: 0;
	background:white;
}

header {
	border-bottom: 1px solid;
	background-color:#f7edc8;
	padding: 4px;
	background-image: url("../img/duma.png");
	background-position:center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 300px;
}
	
h1 {
	font-family: 'Yanone', times, sans-serif;
	font-size: 5rem;
	padding:0;
	width: 400px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 20px;
}

header p, h3 {
	padding:0;
	margin: 0 auto;
	width: 550px;
	font-family: 'Yanone', times, sans-serif;
	text-align: center;
	font-size: 2rem;
}


/*--------------- Navegación -------------------*/
 
/*--------------- FIN Navegación -------------------*/


section {
	margin: 5px;
	display: flex;
	justify-content: center;
}


footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 15px;
	background: black;
	width: 100%;
	color: white;
	min-height: 100px;
	text-align: center;
}

footer .iconos {
	display: block;
	margin-bottom: 10px;
}

footer a:link {
	text-decoration: none;
	color: white;
}

footer a:visited {
	color: white;
}

.correo {
	display: flex;
	justify-content: center;
	align-items: center;
}

.correo img {
	margin-right: 10px;
}





